@if (dataModel.watermarkInfo().spectraWatermark || dataModel.watermarkInfo().customTextEnabled) {
  <div
    class="vh-24 font-dinnext-medium relative flex flex-row items-center justify-center overflow-hidden rounded-b-lg text-center text-[0.78vw] tracking-[0.04em] text-white uppercase"
    [class]="dataModel.sponsorInfo().enabled ? 'vw-270' : 'vw-500'"
  >
    @if (
      dataModel.watermarkInfo().spectraWatermark &&
      (!dataModel.watermarkInfo().customTextEnabled || currentRotationIndex() === 0)
    ) {
      <div
        class="absolute inset-0 flex w-full flex-row items-center justify-center"
        animate.enter="animate-fade-in animate-duration-500"
        animate.leave="animate-fade-out animate-duration-500"
      >
        <img src="assets/misc/icon.webp" class="max-h-5 max-w-5 px-0.5 py-0.5 align-middle" />
        <div
          class="flex items-center justify-center"
          [class]="dataModel.sponsorInfo().enabled ? 'w-8/10' : 'w-4/10'"
        >
          <p class="whitespace-nowrap">
            {{ TranslateKeys.Watermark_Text | translate }}
          </p>
        </div>
      </div>
    } @else if (
      dataModel.watermarkInfo().customTextEnabled &&
      (!dataModel.watermarkInfo().spectraWatermark || currentRotationIndex() === 1)
    ) {
      <div
        class="absolute inset-0 flex w-full items-center justify-center"
        animate.enter="animate-fade-in animate-duration-500"
        animate.leave="animate-fade-out animate-duration-500"
      >
        <p class="whitespace-nowrap">{{ dataModel.watermarkInfo().customText }}</p>
      </div>
    }
  </div>
}
