@keyframes hpbar-in {
  0% {
    width: 0%;
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hpbar-out-collapse {
  0% {
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0.6;
  }
}

@keyframes hpbar-out-gray {
  0% {
    filter: grayscale(0%);
  }
  100% {
    filter: grayscale(100%);
  }
}

.animate-hpbar-in {
  animation-name: hpbar-in;
}

.animate-hpbar-out {
  animation:
    hpbar-out-gray 0.1s,
    hpbar-out-collapse 0.1s 0.2s;
}
