 
<div class="relative h-full w-full overflow-hidden flex flex-col">
    <div class="relative h-full w-full overflow-hidden">
        <img [src]="'assets/maps/wide/' + displayMapName + '.webp'" class="h-full w-full object-cover animate-map-in" />
        <div class="absolute inset-0 bg-black/25"></div>
        <div
            class="absolute inset-0 flex flex-col items-center justify-center text-white text-center"
            [class.animate-past-map]="hasScore"
        >
            @if (hasScore) {
                <div class="absolute inset-0 bg-black/70 z-0"></div>
                <div class="relative z-10 flex flex-col items-center gap-10">
                    <p class="font-replica text-3xl uppercase">WINNER</p>
                    @if (winnerIndex !== undefined) {
                        <img class="w-37.5 h-37.5 object-contain" [src]="teams[winnerIndex].url" />
                    }
                    <p class="font-foundry-extrabold text-6xl">
                        {{ winnerFirstScoreText }}
                    </p>
                </div>
            }
        </div>
    </div>
    <div class="h-30.5 text-white flex flex-col justify-center gap-1.25" [style.margin-left]="detailsMarginLeft">
        <div class="flex flex-row gap-12 items-center">
            <span class="font-replica text-2xl animate-text-in-1">DEF</span>
            <span class="font-foundry-extrabold text-4xl text-postmatch-secondary uppercase animate-text-in-2">{{ defTeamTricode }}</span>
        </div>
        <div class="bg-white h-0.25 w-9/10"></div>
        <div class="flex flex-row gap-6 items-center">
            <span class="font-replica text-2xl animate-text-in-1">PICKS</span>
            @if(pickedBy !== undefined) {
                <span class="font-foundry-extrabold text-4xl text-postmatch-secondary uppercase animate-text-in-2">{{ pickedBy !== undefined ? teams[pickedBy].tricode : "" }}</span>
            } @else {
                <span class="font-foundry-extrabold text-4xl text-postmatch-secondary uppercase animate-text-in-2">DECIDER</span>
            }
        </div>
	</div>
</div>
